
	    html, head, img, nav{
			background-color: lightgrey;
			font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', 'Helvetica, Arial', 'sans-serif';
			color:black;

		}

	    h1,p,h3,ul{
			background-color: #BB8C00;
			color:white;
		}

		h5 {
			background-color: #44AA00;
			color: white;
		}

		.btn{
			transform: translate (-50%, -50%);
			-ms-transform: translate (-50%,-50%);
			background-color: darkgray;
			color: black;
			font-size: 16px;
			padding: 10px 10px;
			margin: 5px;
			border: none;
			cursor:pointer;
			border-radius: 5px;
			text-align: center;
			font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', 'Helvetica, Arial', 'sans-serif';
			margin-right: 1px;

		}
		.btn:hover {
			background-color: black;
			color:white;
		}

		#logo {
			height: 100px;
			width: 100px;
		}

		header{
      border: 1px solid black;
      padding: 20px;
      font-size: large;
      font-weight: bold;
      margin-bottom: 10px;
      min-height: 25px;
      }

		footer{
			border: 1px solid black;
			padding: 20px;
			font-weight: bold;
		}
