<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Certifications</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>


<body>
	<header class="row" id="headerbar">
					<img id="logo" src="images/logo.jpg" alt="logo" />
						<h1>Oconee County Fire Rescue</h1>
				</header>

				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href="index.html">Home</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				    <div class="navbar-nav">
				      <a class="nav-item nav-link active" href="member.html">Members <span class="sr-only">(current)</span></a>
				      <a class="nav-item nav-link" href="certification.html">Certifications</a>
				      <a class="nav-item nav-link" href="enrollment.html">Enrollments</a>
				      <a class="nav-item nav-link" href="report.html">Reports</a>
				    </div>
				  </div>
				</nav>
<main>
	<h3> Certifications </h3>
<div id="certificationRecord">
				<form @submit.prevent="handleSubmit">
				<div class="form-row">
	    <div class="form-group col-md-12">
	      <label for="inputCertName">Certification Name</label>
	      <input type="text" class="form-control" id="inputCertName" v-model="recordCertification.certification_name">
	    </div>
	    <div class="form-group col-md-12">
	      <label for="inputCertAgency">Agency Name</label>
	      <input type="text" class="form-control" id="inputCertAgency" v-model="recordCertification.certification_agency">
	    </div>
			<div class="form-group col-md-12">
	      <label for="inputExpPeriod">Expiration Period</label>
	      <input type="integer" class="form-control" id="inputExpPeriod" v-model="recordCertification.exp_period">
	    </div>
	  </div>

	  <button type="submit" class="btn btn-primary">Create Certification</button> <br> <br>
	</form>


	<table class="table table-hover table-striped table-sm" id="sortableTable">
	  <thead>
	    <tr>
	      <th scope="col"> Certification ID </th>
	      <th scope="col"> Certification Name </th>
	      <th scope="col"> Agency Name </th>
	      <th scope="col"> Expiration Period (Years) </th>
				<th scope="col">Delete</th>
			</tr>
	  </thead>
	  <tbody>
	    <tr v-for="c in certifications" @click="handleRowClick(c)">
				<td>{{ c.certificationID }}</td>
				<td>{{ c.certification_name }}</td>
        <td>{{ c.certification_agency }}</td>
        <td>{{ c.exp_period }}</td>
	      <td> <form @submit.prevent="handleDelete(c)">
						 <button type="submit" class="btn btn-primary">Delete</button> </form></td>
	    	</tr>
	  </tbody>
	</table>
</div>

<div id="certificateEditsApp">
<form @submit.prevent="handleEdit()">
						<div class="row">
							<div class="form-group col-md-4">
								<input type="text" class="form-control" placeholder="Certification Name" v-model="editCertificate.certification_name" >
							</div>
							<div class="form-group col-md-4">
								<input type="text" class="form-control" placeholder="Certification Agency" v-model="editCertificate.certification_agency" >
							</div>
							<div class="form-group col-md-4">
								<input type="text" class="form-control" placeholder="Exp Date" v-model="editCertificate.exp_period" >
							</div>
						</div>
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary">Edit Certificate</button>
					</div>
				</form>
</div>
</main>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/editcertificate.js"></script>
	<script src="js/certification.js"></script>
	<script src="js/tablesort.min.js"> </script>
<script>
  new Tablesort(document.getElementById('sortableTable'));
</script>
</body>

<center>
<footer>
Oconee County Fire Department | Putting Out Fires Daily
</footer></center>


</html>
