<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title> Reports </title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>


<body>
	<header class="row" id="headerbar">
					<img id="logo" src="images/logo.jpg" alt="logo" />
						<h1>Oconee County Fire Rescue</h1>
				</header>

		<center>
	<nav>
	<a href="index.html"><button type="button" class="btn">Home</button></a>
	<a href="member.html"><button type="button" class="btn">Members</button></a>
	<a href="certification.html"><button type="button" class="btn">Certifications</button></a>
	<a href="enrollment.html"><button type="button" class="btn">Enrollment</button></a>
	<a href="report.html"> <button type="button" class="btn">Reports</button></a>
	</nav>
	<h3> Reports </h3>
	</center>
				<main>
<div class="container">
<div id="receiveRecordsApp">
	<h5>  Members with expired certification </h5>

	<div class="filter">
	<div class="input-group mb-3">
			<div class="input-group-prepend">
				<div class="input-group-prepend">
					<label class="input-group-text" for="inputselect5">Certification Name</label>
				</div>
				<div class="filter">
					<select class="custom-select" id="select3" v-model="filter.certificationID">
						<option value="">(all)</option>
						<option v-for="r in certifications" :value="r.certificationID">{{ r.certification_name }}</option>
					</select>
				</div>
			</div>
		</div>
		</div>

		<br>
	<table class="table table-hover table-striped table-sm" id="sortableTable">
			<thead>
		    <tr>
					<th scope="col"> Certificate Name </th>
					<th scope="col"> Member Name </th>
					<th scope="col"> Radio Number </th>
					<th scope="col"> Station Number </th>
					<th scope="col"> Enrollment Start Date </th>
					<th scope="col"> Enrollment End Date </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="r in receive" v-if="(filter.certificationID=='' || filter.certificationID == r.certificationID)">
		      <td> {{ r.certification_name }} </td>
					<td> {{ r.firstName }} {{ r.lastName}}</td>
		      <td> {{ r.radioNumber }} </td>
					<td> {{ r.stationNumber }}</td>
					<td>{{ r.certificateStartDate }} </td>
					<td>{{ r.certificateEndDate }} </td>
		    </tr>
		  </tbody>
	</table>
<hr>
	<h5>  Members by station and radio number </h5>
	<div class="filter">
		<div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Station Number</label>
                    </div>
                    <div class="filter">
                      <select class="custom-select" id="select1" v-model="filter.stationNumber">
                        <option value="">(all)</option>
                        <option v-for="r in members" :value="r.stationNumber">{{r.stationNumber}}</option>
                      </select>
                    </div>
                  </div>
                </div>
		</div>

		<div class="filter">
		<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Radio Number</label>
					</div>
					<div class="filter">
						<select class="custom-select" id="select2" v-model="filter.radioNumber">
							<option value="">(all)</option>
							<option v-for="r in members" :value="r.radioNumber">{{ r.radioNumber }}</option>
						</select>
					</div>
				</div>
			</div>
			</div>

		<br>
	<table class="table table-hover table-striped table-sm" id="sortableTable2">
			<thead>
		    <tr>
					<th scope="col"> Member Name </th>
					<th scope="col"> Radio Number </th>
					<th scope="col"> Station Number </th>
					<th scope="col"> Email </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="r in receive_reportTwo" v-if="((filter.stationNumber=='' || filter.stationNumber == r.stationNumber) & (filter.radioNumber=='' || filter.radioNumber == r.radioNumber))">
					<td> {{ r.firstName }} {{ r.lastName}}</td>
		      <td> {{ r.radioNumber }} </td>
					<td> {{ r.stationNumber }}</td>
					<td>{{ r.email }} </td>
		    </tr>
		  </tbody>
	</table>
</div>
</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/report.js"></script>
<script src="js/tablesort.min.js"> </script>
<script>
  new Tablesort(document.getElementById('sortableTable'));
</script>
<script>
  new Tablesort(document.getElementById('sortableTable2'));
</script>
</body>

<br><br>

<center>
<footer>
Oconee County Fire Department | Putting Out Fires Daily
</footer></center>

</html>
