<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title> Reports </title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<center>
	<nav>
		<a href="index.html"><button type="button" class="btn">Home</button></a>
		<a href="member.html"><button type="button" class="btn">Members</button></a>
		<a href="certification.html"><button type="button" class="btn">Certifications</button></a>
		<a href="enrollment.html"><button type="button" class="btn">Enrollment</button></a>
		<a href="report.html"> <button type="button" class="btn">Reports</button></a>
	</nav>

<h1> Reports </h1>
</center>
</head>


<body>
		<h3>  People with expired certifications </h3>
<div id="receiveRecordsApp">

		<div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputstyle">Certification</label>
            </div>
            <div class="filter">
              <select class="custom-select" id="inputstyle" v-model="filter.certificationID">
                <option value="">(all)</option>
                <option v-for="r in certifications" :value="r.certificationID">{{r.certification_name}}</option>
              </select>
            </div>
          </div>
        </div>

	<table class="table table-hover table-striped table-sm">
			<thead>
		    <tr>
					<th scope="col"> Certificate Name </th>
					<th scope="col"> Member Name </th>
					<th scope="col"> Radio Number </th>
					<th scope="col"> Station Number </th>
					<th scope="col"> Enrollment Start Date </th>
					<th scope="col"> Enrollment End Date </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="r in receive" v-if="(filter.certificationID=='' || filter.certificationID == r.certificationID)">
		      <td> {{ r.certification_name }} </td>
					<td> {{ r.firstName }} {{ r.lastName}}</td>
		      <td> {{ r.radioNumber }} </td>
					<td> {{ r.stationNumber }}</td>
					<td>{{ r.certificateStartDate }} </td>
					<td>{{ r.certificateEndDate }} </td>
		    </tr>
		  </tbody>
	</table>
<hr>
	<h3>  Members by station and radio number </h3>

	<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputstyle">Station Number</label>
					</div>
					<div class="filter">
						<select class="custom-select" id="inputstyle" v-model="filter.stationNumber">
							<option value="">(all)</option>
							<option v-for="r in members" :value="r.stationNumber">{{r.stationNumber}}</option>
						</select>
					</div>
				</div>
			</div>

	<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputstyle">Radio Number</label>
					</div>
					<div class="filter">
						<select class="custom-select" id="inputstyle" v-model="filter.radioNumber">
							<option value="">(all)</option>
							<option v-for="r in members" :value="r.radioNumber">{{r.radioNumber}}</option>
						</select>
					</div>
				</div>
			</div>

		<br>
	<table class="table table-hover table-striped table-sm">
			<thead>
		    <tr>
					<th scope="col"> Member Name </th>
					<th scope="col"> Radio Number </th>
					<th scope="col"> Station Number </th>
					<th scope="col"> Email </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="r in receive_reportTwo" v-if="((filter.stationNumber=='' || filter.stationNumber == r.stationNumber) & (filter.radioNumber=='' || filter.radioNumber == r.radioNumber))">
					<td> {{ r.firstName }} {{ r.lastName}}</td>
		      <td> {{ r.radioNumber }} </td>
					<td> {{ r.stationNumber }}</td>
					<td>{{ r.email }} </td>
		    </tr>
		  </tbody>
	</table>
	</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/report.js"></script>

</body>

<br><br>

<center>
<footer>
Oconee County Fire Department | Putting Out Fires Daily
</footer></center>

</html>
